<h1>Pirate</h1>
<hr style="width:7%;text-align:left;margin-left:0">
    <h3>Name: <%= @pirate.name %></h3>
    <h4>Height: <%= @pirate.height %> lbs </h4>
    <h4>Weight: <%= @pirate.weight %> inches </h4></br>

<h2>Ships</h2>
<hr style="width:7%;text-align:left;margin-left:0">
    <% @ships.each do |s| %>
    <p>Name: <%= s.name %> </p>
    <p>Type: <%= s.type %></p>
    <p>Booty: <%= s.booty %></p></br>
    <% end %>