

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Pirates and Ships!</title>
  </head>
  <body>
    Pirate Name:
    <%= @new_pirate.name %>
    Pirate Weight:
    <%= @new_pirate.weight %>
    Pirate Height:
    <%= @new_pirate.height %>
    <p><% @ships.each do |ship| %>
        <%= ship.name %>
        <%= ship.type %>
        <%= ship.booty %>
      <% end %></p>

  </body>
</html>
